# Virtual environments
.venv
venv
portfolio_tracker/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/
.idea/
*.swp

# Environment variables
.env

# MacOS
.DS_Store

# Temporary files
*.pkl
*.sqlite3

.claude/
.venv_new/
.venv_test/
Context/

Assignment2_Report_PauGratacosFuste.pdf
PDAI_Assignment2.pdf
Submission_Assignment_1.pdf
Context/

Assignment2_Report_PauGratacosFuste.docx
action_plan_chatbot.md
Assignment2_Report_PauGratacosFuste.docx.pdf