# Virtual environments
.venv
venv
portfolio_tracker/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDEs
.vscode/
.idea/
*.swp

# Environment variables
.env

# MacOS
.DS_Store

# Temporary files
*.pkl
*.sqlite3

.claude/